@import "./variables.scss";

body {
    background: #0F2027;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    font-family: $main-font-family;
    font-weight: $regular-font-weight;
    height: 100vh;
    color: $text-color;
}

h1 {
    font-weight: $bold-font-weight;
}