$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: url('../images/wallpaper.png') no-repeat center center;
  transition: background-color .3s linear;
}