@import "../../styles/variables.scss";

$height-xs: 10px;
$height-sm: 15px;
$height-md: 20px;
$initialTop-xs: $height-xs * 2;
$initialTop-sm: $height-sm  * 2;
$initialTop-md: $height-md * 2;
$color: #09203f;
$color1: tint($color, 90);
$color2: tint($color, 80);
$transform1: rotate(-45deg) skew(15deg, 15deg);
$transform2: rotate(-45deg) skew(-45deg, 15deg);
$transform3: rotate(-15deg) skew(-15deg, -15deg);

$keys: (
    xs: (
        height: $height-xs,
        media: $size-xs-ls-and-below,
        logoContainerWidth: 50px,
        logoContainerHeight: 32px,
        squareFourLeft: 25px,
        squareFourKeyFramesHeight100: 7px,
        squareFourKeyFramesTop100: 23px,
        squareFiveKeyFramesTop100: 5px,
        squareFiveKeyFramesLeft100: 16px
    ),
    sm: (
        height: $height-sm,
        media: $size-only-sm,
        logoContainerWidth: 54px,
        logoContainerHeight: 46px,
        squareFourLeft: 27px,
        squareFourKeyFramesHeight100: 11px,
        squareFourKeyFramesTop100: 34px,
        squareFiveKeyFramesTop100: 7px,
        squareFiveKeyFramesLeft100: 14px
    ),
    md: (
        height: $height-md,
        media: $size-md,
        logoContainerWidth: 60px,
        logoContainerHeight: 60px,
        squareFourLeft: 30px,
        squareFourKeyFramesHeight100: 14px,
        squareFourKeyFramesTop100: 46px,
        squareFiveKeyFramesTop100: 10px,
        squareFiveKeyFramesLeft100: 12px
    )
);

.logoContainer {
    margin: 0 auto;
    position: relative;
}

.square {
    position: absolute;
    left: 20px;
}

.side,
.side2,
.faceTop {
    transform: $transform1;
}

.side {
    transform-origin: bottom left;
}

.side2 {
    transform-origin: top left;
}

.squareOne {
    background: $color1;
    z-index: 5;
}

.squareTwo {
    background: $color2;
    z-index: 4;
}

.squareThree {
    background: $color1;
}

.squareFour {
    background: $color1;
}

.squareFive {
    background: $color1;
    top: 5px;
    left: 16px;
    opacity: 0;
}

@each $key, $map in $keys {
    $height: map-get($map, 'height');

    @media #{map-get($map, 'media')} {
        .logoContainer {
            width: map-get($map, 'logoContainerWidth');
            height: map-get($map, 'logoContainerHeight');
        }
        
        .square {
            width: $height;
            height: $height;
        }
        
        .squareOne {
            top: $height * 2;
            animation: squareOneKeyFrames-#{$key} 1s 0.5s 1 forwards;
        }
        
        .squareTwo {
            top: $height * 2;
            animation: squareTwoKeyFrames-#{$key} 0.8s 0.5s 1 forwards;
        }
        
        .squareThree {
            top: $height * 2;
        }
        
        .squareFour {
            top: $height * 2;
            left: map-get($map, 'squareFourLeft');
            animation: squareFourKeyFrames-#{$key} 0.6s 0.6s 1 forwards ease-in-out;
        }
        
        .squareFive {
            animation: squareFiveKeyFrames-#{$key} 0.6s 1.1s 1 forwards ease-in-out;
        }
    }
    @keyframes squareOneKeyFrames-#{$key} {
        0% {
            top: $height * 2;
        }

        100% {
            top: 0px;
        }
    }

    @keyframes squareTwoKeyFrames-#{$key} {
        0% {
            top: $height * 2;
        }

        100% {
            top: $height;
        }
    }

    @keyframes squareFourKeyFrames-#{$key} {
        0% {
            transform: $transform1;
        }

        100% {
            transform: $transform2;
            height: map-get($map, 'squareFourKeyFramesHeight100');
            top: map-get($map, 'squareFourKeyFramesTop100');
        }
    }

    @keyframes squareFiveKeyFrames-#{$key} {
        0% {
            transform: $transform1;
            opacity: 0;
        }

        98% {
            opacity: 1;
        }

        100% {
            top: map-get($map, 'squareFiveKeyFramesTop100');
            left: map-get($map, 'squareFiveKeyFramesLeft100');
            transform: $transform3;
            opacity: 1;
        }
    }
}